    /*
COLORS :-
light blue : #00deff
navy blue : #21a3df
black : #000000
white : #ffffff
*/
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .logo {
        color: rgb(226, 226, 226);
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        padding-left: 10%;
        padding-top: 0.75%;
    }
    
    .logo :hover {
        animation-name: visibility;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        text-decoration: wavy;
        font-style: italic;
    }
    
    nav {
        height: 10vh;
        display: flex;
        background-image: linear-gradient(to right, #21a3df, #0dc4e0);
        font-family: 'Poppins', sans-serif;
    }
    
    .nav-links {
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
    }
    
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 22px;
    }
    
    .nav-links a:hover {
        color: white;
        text-decoration: wavy;
        font-style: italic;
        letter-spacing: 3px;
        font-weight: bolder;
        font-size: 22px;
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .img1 {
        width: 100%;
    }
    
    .contact_bg {
        width: 100%;
        height: 50vh;
        background: url('images/contact6.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .top_main {
        display: flex;
        /* flex-wrap: wrap; */
    }
    
    .main_bg {
        margin-top: 2rem;
        margin-left: 5%;
        width: 90%;
        height: 75vh;
        background: url('images/bg3.jpg');
        opacity: .75;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .main {
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        background: url('images/main_bg4.jpg');
        background-size: 100% 100%;
        display: flex;
    }
    
    .main_img {
        /* border: solid;
    border-radius: 20%; */
        width: 60%;
        margin-left: 10%;
    }
    
    .myimg {
        border: solid;
        border-radius: 20%;
        width: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .main_text {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 40%;
        height: 40%;
        padding-top: 10%;
        padding-right: 10%;
    }
    
    .main_text ul li {
        list-style: none;
        background-color: rgba(0, 0, 0, 0.07000000000000001);
    }
    
    .div-qoute {
        font-size: 25px;
        font-weight: 500;
        margin-left: 37%;
        margin-top: 22%;
    }
    
    .div-qoute span {
        color: rgb(7, 7, 7);
    }
    
    .footer_bg {
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
        height: 44vh;
        /* margin-top: 2%; */
        background: url('images/footer_bg.jpg');
        background-size: 100% 100%;
        display: flex;
    }
    
    .myfooter {
        width: 20%;
        margin-top: 8vh;
        height: 28vh;
        float: top;
        margin-bottom: 5%;
        margin-left: 5%;
    }
    
    .myfooter2 {
        width: 20%;
        float: right;
        margin-top: 8vh;
        height: 28vh;
        float: top;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .footer_icons {
        width: 40%;
        margin-left: 8%;
        margin-right: 5%;
        margin-top: 17vh;
        height: 10vh;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
    }
    
    .myfooter:hover {
        animation-name: visibility;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    
    .myfooter2:hover {
        animation-name: visibility;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    
    .qoute-main {
        display: block;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    .qoute-by {
        display: block;
        animation: moveInRight 1s ease-out;
    }
    
    .qo .contacts {
        font-size: 22px;
        padding-top: 3%;
    }
    
    .contacts ul li {
        padding-left: 50%;
        padding-bottom: 1.25%;
        transform: translate(-25%);
        position: relative;
    }
    
    .contacts ul li a {
        color: #2573e7;
    }
    
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    .fa-google {
        background: #dd4b39;
        color: white;
    }
    
    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
    
    .fa-instagram {
        background: #125688;
        color: white;
    }
    
    .contacts {
        align-items: center;
    }
    
    .contacts ul li a {
        padding-left: 2%;
    }
    /* skills page */
    
    .skills_top {
        margin-top: 2%;
        display: flex;
        width: 100%;
        height: 20vh;
    }
    
    .spara1 {
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        justify-content: center;
        align-content: center;
    }
    
    .simg1 {
        float: right;
        height: 20vh;
        border: solid;
        margin-left: 10%;
        border-radius: 20px;
        border-color: hsla(188, 100%, 50%, 0);
    }
    
    .simg1:hover {
        animation-name: visibility;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    
    .skills_main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .container {
        flex: 30%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .card {
        min-height: 34vh;
        width: 15rem;
        margin-left: 4rem;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    }
    
    .rectcorner1,
    .rectcorner2,
    .rectcorner3,
    .rectcorner4 {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    
    .skills_imgs {
        width: 60%;
        z-index: 2;
        margin-left: 20%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .skills_info p {
        width: 80%;
        margin-left: 10%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    
    .skills_info {
        z-index: 1;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .workheader {
        padding-top: 2%;
        padding-bottom: 3%;
        margin-left: 50%;
        transform: translateX(-50%);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .work_main {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5%;
    }
    
    .workCont1,
    .workCont2 {
        flex: 50%;
    }
    
    .workimg1 {
        width: 60%;
    }
    
    .workcard1,
    .workcard2 {
        width: 90%;
        margin-left: 5%;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }
    
    .workcard1 p {
        padding-left: 6%;
    }
    
    .workcard2 p {
        padding-left: 3%;
    }
    
    .sslimg {
        padding-left: 2%;
        padding-bottom: 2%;
        padding-top: 1%;
    }
    
    .cq,
    .krssg {
        display: flex;
    }
    
    .cq h4 {
        padding-top: 20%;
        padding-left: 4%;
    }
    
    .krssg h4 {
        padding-top: 16%;
    }
    
    .whr {
        padding-left: 35%;
    }
    
    .whl {
        padding-left: 37%;
    }
    
    .ssl {
        display: flex;
    }
    
    .ssl p {
        padding-left: 2%;
        padding-top: 12%;
    }
    
    .webd {
        display: flex;
        padding-top: 4%;
    }
    
    .webd p {
        padding-top: 10%;
    }
    /* *animations */
    
    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        80% {
            transform: translateX(10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        80% {
            transform: translateX(-10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @keyframes visibility {
        0% {
            opacity: 0;
        }
        25% {
            opacity: .25;
        }
        75% {
            opacity: .75;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    /* !making website responsive */
    
    @media screen and (max-width: 400px) {
        .line {
            width: 30px;
            height: 3px;
            background: white;
            margin: 5px;
        }
        nav {
            position: relative;
        }
        .hamburger {
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 3;
        }
        .hamburger div {
            transition: all 0.3s ease;
        }
        .nav-links {
            position: fixed;
            background-image: linear-gradient(to bottom, #0dc4e0, #21a3df);
            z-index: 2;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            clip-path: circle(100px at 90% -16%);
            -webkit-clip-path: circle(100px at 90% -16%);
            transition: all 1s ease-out;
            pointer-events: none;
        }
        .nav-links.open {
            clip-path: circle(1000px at 90% -16%);
            -webkit-clip-path: circle(1000px at 90% -16%);
            pointer-events: all;
        }
        .nav-links li {
            opacity: 0;
        }
        .nav-links li a {
            font-size: 25px;
        }
        .nav-links li:nth-child(1) {
            transition: all 0.5s ease 0.2s;
        }
        .nav-links li:nth-child(2) {
            transition: all 0.5s ease 0.4s;
        }
        .nav-links li:nth-child(3) {
            transition: all 0.5s ease 0.6s;
        }
        .nav-links li:nth-child(4) {
            transition: all 0.5s ease 0.8s;
        }
        li.fade {
            opacity: 1;
        }
        /* *index page */
        .div-qoute {
            margin-top: 72%;
            margin-left: 22%;
        }
        .qoute-by {
            margin-left: 28%;
        }
        .logo {
            padding-top: 4%;
        }
        .main {
            display: flex;
            flex-wrap: wrap;
        }
        .main_img {
            padding-left: 8%;
            width: 100%;
        }
        .main_text {
            width: 100%;
            padding-left: 0%;
            padding-right: 0;
            padding-top: 2%;
        }
        .myimg {
            width: 80%;
        }
        .myfooter {
            margin-right: 4%;
            width: 35%;
            margin-left: 1%;
        }
        .main_bg {
            margin-top: 0.5rem;
        }
        .myfooter2 {
            display: none;
        }
        /* *skills page */
        .spara1 {
            margin-left: 2%;
        }
        .skills_heading {
            margin-top: 44%;
            margin-bottom: 4%;
        }
        .container {
            margin-left: 2.5%;
            margin-bottom: 3%;
        }
        .ssl {
            display: flex;
            flex-wrap: wrap;
        }
        .sslimg {
            margin-top: 2%;
            margin-left: 10%;
        }
        .ssl_text {
            margin-left: 18%;
            margin-top: 0%;
        }
        .ssl p {
            padding-top: 4%;
        }
        .workheader {
            padding-top: 5%;
            padding-bottom: 5%;
            width: 100%;
            padding-left: 2%;
        }
        .workCont1 {
            margin-top: 2%;
            margin-bottom: 4%;
        }
        .whr {
            padding-left: 22%;
        }
        .contacts ul li {
            padding-bottom: 6%;
        }
    }
    
    @media only screen and (min-width: 400px) {
        .line {
            width: 30px;
            height: 3px;
            background: white;
            margin: 5px;
        }
        nav {
            position: relative;
        }
        .hamburger {
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 3;
        }
        .hamburger div {
            transition: all 0.3s ease;
        }
        .nav-links {
            position: fixed;
            background-image: linear-gradient(to bottom, #0dc4e0, #21a3df);
            z-index: 2;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            clip-path: circle(100px at 90% -16%);
            -webkit-clip-path: circle(100px at 90% -16%);
            transition: all 1s ease-out;
            pointer-events: none;
        }
        .nav-links.open {
            clip-path: circle(2000px at 90% -16%);
            -webkit-clip-path: circle(2000px at 90% -16%);
            pointer-events: all;
        }
        .nav-links li {
            opacity: 0;
        }
        .nav-links li a {
            font-size: 25px;
        }
        .nav-links li:nth-child(1) {
            transition: all 0.5s ease 0.2s;
        }
        .nav-links li:nth-child(2) {
            transition: all 0.5s ease 0.4s;
        }
        .nav-links li:nth-child(3) {
            transition: all 0.5s ease 0.6s;
        }
        .nav-links li:nth-child(4) {
            transition: all 0.5s ease 0.8s;
        }
        li.fade {
            opacity: 1;
        }
        .workCont1,
        .workCont2 {
            flex: 100%;
        }
        .workCont1 {
            margin-bottom: 5%;
        }
        /* *index page */
        .div-qoute {
            margin-left: 22%;
            margin-top: 92%;
        }
        .qoute-by {
            margin-left: 28%;
        }
        .main {
            display: flex;
            flex-wrap: wrap;
        }
        .main_img {
            width: 100%;
            padding-left: 20%;
        }
        .main_text {
            width: 100%;
            padding-left: 0%;
            padding-right: 0;
            padding-top: 2%;
        }
        .myfooter2 {
            display: none;
        }
        .myfooter {
            width: 35%;
            padding-right: 2%;
        }
        /* *skills page */
        .spara1 {
            padding-left: 4%;
        }
        .simg1 {
            padding-right: 4%;
            padding-top: 4%;
        }
        .skills_heading {
            padding-top: 44%;
            padding-bottom: 4%;
        }
        .container {
            padding-left: 5%;
        }
        .contacts ul li {
            padding-bottom: 6%;
        }
        .logo {
            padding-top: 5%;
        }
        .workheader {
            padding-top: 5%;
            padding-bottom: 5%;
            width: 100%;
            padding-left: 2%;
        }
    }
    
    @media only screen and (min-width: 600px) {
        /* *index page */
        .div-qoute {
            margin-left: 22%;
            margin-top: 62%;
        }
        .logo {
            padding-top: 3.5%;
        }
        /* *skills page */
        .skills_heading {
            padding-top: 4%;
            padding-bottom: 4%;
        }
        .container {
            padding-left: 1.75%;
        }
        .ssl_text {
            margin-left: 18%;
            margin-top: 4%;
        }
        .cq h4 {
            padding-top: 12%;
        }
        .krssg h4 {
            padding-top: 11%;
            padding-left: 14%;
        }
    }
    
    @media only screen and (min-width: 768px) {
        /* *index page */
        .div-qoute {
            margin-left: 22%;
            margin-top: 62%;
        }
        .logo {
            padding-top: 3.5%;
        }
        /* *skills page */
        .skills_heading {
            padding-top: 3%;
            padding-bottom: 3%;
        }
        .container {
            padding-left: 1.5%;
        }
        .ssl_text {
            margin-left: 18%;
            margin-top: 4%;
        }
        .cq h4 {
            padding-top: 12%;
        }
        .krssg h4 {
            padding-top: 11%;
            padding-left: 14%;
        }
    }
    
    @media only screen and (min-width: 992px) {
        /* *index page */
        .div-qoute {
            margin-left: 25%;
            margin-top: 42%;
        }
        .logo {
            padding-top: 2%;
        }
        /* *skills page */
        .skills_heading {
            padding-top: 4%;
            padding-bottom: 4%;
        }
        .container {
            padding-left: 0%;
            margin-left: 0;
            margin-right: 2%;
        }
        .ssl_text {
            margin-left: 18%;
            margin-top: 4%;
        }
        .cq h4 {
            padding-top: 12%;
        }
        .krssg h4 {
            padding-top: 11%;
            padding-left: 14%;
            font-size: 24px;
        }
        .whl {
            padding-left: 42%;
        }
    }
    
    @media only screen and (min-width: 1200px) {
        .hamburger {
            display: none;
        }
        nav {
            height: 10vh;
            width: 100%;
            display: flex;
            position: relative;
            margin-left: auto;
            /* background: #5b78c7; */
            background-image: linear-gradient(to right, #21a3df, #0dc4e0);
            font-family: 'Poppins', sans-serif;
        }
        .nav-links {
            display: flex;
            padding-left: 50%;
            flex-direction: row;
            list-style: none;
            position: absolute;
            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            margin-left: auto;
            background-image: none;
            transition: none;
            clip-path: none;
            -webkit-clip-path: 0;
            pointer-events: all;
        }
        .nav-links li a {
            color: white;
            text-decoration: none;
            font-size: 22px;
        }
        .nav-links.open {
            pointer-events: all;
            clip-path: none;
            -webkit-clip-path: 0;
        }
        .nav-links a:hover {
            pointer-events: all;
            color: white;
            text-decoration: wavy;
            font-style: italic;
            letter-spacing: 3px;
            font-weight: bolder;
            font-size: 22px;
        }
        .nav-links li {
            opacity: 1;
        }
        /* *index page */
        .logo {
            padding-top: 0.75%;
            z-index: 4;
        }
        .div-qoute {
            margin-left: 37%;
            margin-top: 22%;
        }
        .qoute-by {
            margin-left: 0%;
        }
        .main {
            display: flex;
            flex-direction: row;
        }
        .main_img {
            width: 60%;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            padding-left: 5%;
        }
        .main_bg {
            margin-top: 2rem;
        }
        .myimg {
            width: 60%;
        }
        .main_text {
            width: 40%;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            padding-right: 10%;
            padding-top: 11%;
        }
        .myfooter2 {
            width: 20%;
            float: right;
            margin-top: 8vh;
            height: 28vh;
            float: top;
            margin-bottom: 5%;
            margin-left: 5%;
            margin-right: 5%;
            display: block;
        }
        .myfooter {
            width: 20%;
            padding-right: 0%;
        }
        /* *skills page */
        .spara1 {
            padding-left: 1%;
        }
        .simg1 {
            padding-right: 0%;
            padding-top: 0%;
        }
        .skills_heading {
            padding-top: 2%;
            padding-bottom: 2%;
            font-size: 30px;
        }
        .container {
            padding-left: 0%;
        }
        .workheader {
            padding-top: 5%;
            padding-bottom: 5%;
            width: 100%;
            padding-left: 2%;
        }
        .work_main {
            margin-bottom: 1%;
        }
        .workCont1,
        .workCont2 {
            flex: 50%;
        }
        .workCont1,
        .workCont2 {
            margin-bottom: 0%;
        }
        .ssl_text {
            margin-left: 5%;
            margin-top: 4%;
        }
        .contacts ul li {
            padding-bottom: 2%;
        }
    }